doctype html
html
  include includes/head
  body
    include includes/navbar
    .wrapper
      .main
        block main
          != contents
    include includes/foot

  script(src='js/jquery.min.js')
  script(src='js/tether.min.js')  
  script(src='js/bootstrap.min.js')  
  script(src='js/jquery.cookie.js')
  script(src='js/jquery.onepage-scroll.js')
  script(src='js/front.js')
