section.header
  img(src="images/oii-medium-logo.svg")
  h4.title Security and Privacy Software Metrics 
  .row
    input(type="email",placeholder="your@email.com",style="text-align:center")
  .row
    input.button(type="submit",value="Keep me updated")
